<h2>Listado de proveedores</h2> 


<p align="right" mat-list-item routerLink="/proveedores/agregar">
    <a mat-flat-button color="primary"><mat-icon>add</mat-icon>Agregar proveedor</a>
</p>   

<table mat-table [dataSource]="proveedores" class="mat-elevation-z8" style="width:
    100%;">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.id}} </td>
    </ng-container>
    <ng-container matColumnDef="ruc">
        <th mat-header-cell *matHeaderCellDef>RUC</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.ruc}} </td>
    </ng-container>
    <ng-container matColumnDef="razon_social">
        <th mat-header-cell *matHeaderCellDef>Razon social</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.razon_social}} </td>
    </ng-container>
    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef>Direccion</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.direccion}} </td>
    </ng-container>
    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.telefono}} </td>
    </ng-container>
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef>Correo</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.correo}} </td>
    </ng-container>
    <ng-container matColumnDef="contacto">
        <th mat-header-cell *matHeaderCellDef>Contacto</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.contacto}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha_registro">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let proveedor"> {{proveedor.fecha_registro}} </td>
    </ng-container>
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let proveedor">
            <a mat-icon-button [routerLink]="['/proveedores/editar', proveedor.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let proveedor">
            <button (click)="eliminarProveedor(proveedor)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','ruc', 'razon_social', 'direccion', 'telefono', 'correo','contacto','fecha_registro', 'editar',
        'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['id','ruc', 'razon_social', 'direccion', 'telefono', 'correo','contacto','fecha_registro',
        'editar', 'eliminar'];"></tr>
</table>

<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>