.contenedor-padre {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.barra {
    flex: 0 1 auto;
}

.contenido {
    flex: 1 1 auto;
}

.padding-10 {
    padding: 10px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin:1rem auto;
    max-width: 600px;
}    