<h2>Listado de salidas</h2> 
<p align="right" mat-list-item routerLink="/salidas/agregar">
    <a mat-flat-button color="primary"><mat-icon>add</mat-icon>Agregar salida</a>
</p>   
<table mat-table [dataSource]="salidas" class="mat-elevation-z8" style="width:
    100%;">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let salida"> {{salida.id}} </td>
    </ng-container>
    <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad</th>
        <td mat-cell *matCellDef="let salida"> {{salida.cantidad}} </td>
    </ng-container>
    <ng-container matColumnDef="fecha_registro">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let salida"> {{salida.fecha_registro}} </td>
    </ng-container>
   
    
    <ng-container matColumnDef="editar">
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let salida">
            <a mat-icon-button [routerLink]="['/salidas/editar', salida.id]">
                <mat-icon color="primary">edit</mat-icon>
            </a>
        </td>
    </ng-container>
    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let salida">
            <button (click)="eliminarSalida(salida)" mat-icon-button>
                <mat-icon color="warn">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['id','cantidad', 'fecha_registro', 'editar',
        'eliminar']"></tr>
    <tr mat-row *matRowDef="let fila; columns: ['id','cantidad', 'fecha_registro',
        'editar', 'eliminar'];"></tr>
</table>
